@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.inicio {
  padding: 0;
}
.inicio .caja {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
  padding: 2rem 9%;
}
.inicio .caja.segunda {
  justify-content: flex-start;
}
.inicio .caja .contenido {
  width: 50rem;
}
.inicio .caja .contenido span {
  font-size: 4rem;
  color: #10221b;
}
.inicio .caja .contenido h3 {
  font-size: 6rem;
  color: #219150;
  padding-top: 0.5rem;
  text-transform: uppercase;
}
.inicio .caja .contenido p {
  line-height: 2;
  color: #10221b;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #10221b;
}

.categorias .contenedor-caja {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
}
.categorias .caja {
  text-align: center;
  padding: 1rem;
}
.categorias .caja img {
  height: 20rem;
  widows: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.categorias .caja h3 {
  font-size: 2rem;
  color: #219150;
}
.categorias .caja p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.header.activo {
  background: #fff;
  border: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #10221b;
  font-weight: bolder;
}
.header .logo i {
  color: #219150;
}
.header .navegacion a {
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #10221b;
}
.header .navegacion a:hover {
  color: #219150;
}
.header .navegacion #cerrar-nav {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}
.header .iconos a,
.header .iconos div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}
.header .iconos a:hover,
.header .iconos div:hover {
  color: #219150;
}
.header .iconos.oculto {
  pointer-events: none;
}
.header #btn-menu {
  display: none;
}

.buscador {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transform: translateY(-110%);
}
.buscador.activo {
  transform: translateY(0);
}
.buscador #cerrar-buscador {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 6rem;
}
.buscador #cerrar-buscador:hover {
  color: #219150;
}
.buscador form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: flex;
  align-items: center;
}
.buscador form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}
.buscador form input::placeholder {
  color: #aaa;
}
.buscador form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.buscador form label:hover {
  color: #219150;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .inicio .caja {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
    align-items: center;
  }
  .inicio .caja.segunda {
    justify-content: center;
    background-position: left !important;
  }
  .inicio .caja .contenido {
    text-align: center;
  }
  .inicio .caja .contenido span {
    font-size: 3rem;
  }
  .inicio .caja .contenido h3 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .header #btn-menu {
    display: inline-block;
  }
  .header .navegacion {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 1000;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .navegacion.activo {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navegacion a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navegacion #cerrar-nav {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  .swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}
.btn:hover {
  background: #10221b;
  color: #fff;
}

.encabezado {
  text-align: center;
  margin-bottom: 2, 5rem;
  font-size: 4rem;
  color: #10221b;
}

/*# sourceMappingURL=main.css.map */
