@use "../abstracts/abstracts" as *;

.inicio {
  padding: 0;

  .caja {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;

    &.segunda {
      justify-content: flex-start;
    }

    .contenido {
      width: 50rem;
      span {
        font-size: 4rem;
        color: $negro;
      }

      h3 {
        font-size: 6rem;
        color: $verde;
        padding-top: 0.5rem;
        text-transform: uppercase;
      }

      p {
        line-height: 2;
        color: $negro;
        font-size: 1.5rem;
        padding: 1rem 0;
      }
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: $negro;
}

.categorias {
  .contenedor-caja {
    @include grid(29rem);
  }
  .caja {
    text-align: center;
    padding: 1rem;

    img {
      height: 20rem;
      widows: 20rem;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 2rem;
      color: $verde;
    }

    p {
      font-size: 1.5rem;
      color: $negro;
      padding: 1rem 0;
      line-height: 2;
    }
  }
}
